<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .active {
        background-color: #020f22; /* bg-gray-900 */
        color: white; /* text-white */
      }
      .dropdown-content {
        display: none; /* Oculta el contenido del dropdown por defecto */
        position: absolute; /* Posiciona el dropdown */
        background-color: #ffffff; /* Color de fondo del dropdown */
        min-width: 160px; /* Ancho mínimo del dropdown */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra */
        z-index: 1; /* Asegura que el dropdown esté en la parte superior */
      }
      .dropdown-content li {
        padding: 8px 12px; /* Espaciado */
        cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
      }
      .dropdown-content li:hover {
        background-color: #f1f1f1; /* Color de fondo al pasar el ratón */
      }
    </style>
</head>
<body>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <a href="{{ url_for('manage_users') }}" class="nav-link rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Usuarios</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
              <div class="relative ml-3">
                <div>
                  <button id="user-menu-button" aria-expanded="false" aria-haspopup="true" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <div class="text-sm text-white">Librería</div>
                  </button>
                </div>
                <ul id="dropdown-menu" class="dropdown-content">
                  <ul id="library-dropdown-menu" class="dropdown-content absolute right-0 z-10 mt-2 w-48 bg-white rounded-md shadow-lg hidden">
                    {% if libraries %}
                      {% for library in libraries %}
                        <li class="block px-4 py-2 text-gray-800 hover:bg-gray-100">{{ library.library_name }}</li>
                      {% endfor %}
                    {% else %}
                      <li class="block px-4 py-2 text-gray-800">No hay bibliotecas disponibles</li>
                    {% endif %}
                  </ul>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
      
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <a href="#" class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white" aria-current="page">Dashboard</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Team</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Projects</a>
            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Calendar</a>
          </div>
        </div>
      </nav>
      
      <script>
        document.addEventListener('DOMContentLoaded', () => {
            const links = document.querySelectorAll('.nav-link');
            const currentUrl = window.location.href;

            links.forEach(link => {
                if (link.href === currentUrl) {
                    link.classList.add('active');
                }
            });

            const userMenuButton = document.getElementById('user-menu-button');
            const dropdownMenu = document.getElementById('dropdown-menu');

            userMenuButton.addEventListener('click', () => {
                dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
            });

            // Cerrar el dropdown si se hace clic fuera de él
            window.addEventListener('click', (event) => {
                if (!userMenuButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                    dropdownMenu.style.display = 'none';
                }
            });
        });
      </script>

</body>
</html>
